@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;


}

.home,
.Report {
  display:flex; 
  height:90vh; 
  align-items: center; 
  justify-content: center; 
  font-size: 3rem;
}

.drop_down{
  color:#ff8d00;
  width:18rem;
  

}

.main_wrap{
  
  padding:1rem;
  height:fit-content;
  width:fit-content;
  background-color:		#fff;
  position: relative;
  left:35vw;
  top:20vh;
  border-radius: 20px ;
  box-shadow: 5px 5px 35px -5px rgba(0,0,0,0.3);
}

.main_wrap h1{
  font-size: 1.5rem;
  text-align: center;
  color:#ff8d00;
 
}

.warp_content{
  display:flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  /* padding:10px; */
 margin-top: 2.5rem; 

}

.wrap_content_2{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding:10px; */
  margin-top: 2.5rem; 

}
.wrap_content_2 h3{
  font-size: 1rem;
  margin:10px;
  color: #141414;;
  font-weight: lighter;
 
}

.center_btns{
  display:flex;
  flex-direction:row;
  justify-content: start;
  
}

.end_btn{
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  float:right;
}


.warp_content h3{
  font-size: 1rem;
  margin:10px;
  color: #141414;;
  font-weight: lighter;
 
}

@media(max-width:768px){
 

  .drop_down{
   color:#ff8d00;
    width:8rem;
    
  
  }
  
}